<div class="layout--aqto-five-column">
  <div class="layout__region layout__region--column-1">{{ content.column_1 }}</div>
  <div class="layout__region layout__region--column-2">{{ content.column_2 }}</div>
  <div class="layout__region layout__region--column-3">{{ content.column_3 }}</div>
  <div class="layout__region layout__region--column-4">{{ content.column_4 }}</div>
  <div class="layout__region layout__region--column-5">{{ content.column_5 }}</div>
</div>
