<div class="grid grid-cols-9 gap-4">
  <div>{{ content.column_1 }}</div>
  <div>{{ content.column_2 }}</div>
  <div>{{ content.column_3 }}</div>
  <div>{{ content.column_4 }}</div>
  <div>{{ content.column_5 }}</div>
  <div>{{ content.column_6 }}</div>
  <div>{{ content.column_7 }}</div>
  <div>{{ content.column_8 }}</div>
  <div>{{ content.column_9 }}</div>
</div>
